

.form-details{overflow: hidden;}
.single-details{
  overflow: hidden;
}
.single-details label{padding: 10px 0; margin-bottom: 0; color:#fff;font-size: 12px;}
.single-details p{padding: 10px 0;margin: 0; color:#fff; font-size: 12px}

.odd{background-color: rgba(255, 255, 255, 0.20)}
.even{background-color: rgba(0, 0, 0, 0.20)}

.mbtm{margin-bottom: 10px;}
.mtop{margin-top: 10px;}



.certImg img{
  margin: 0 auto;
  padding: 9px;
  border: 1px dashed #6C5296;
  background: #fff;
  position: relative;
}


hr{
  margin-bottom: 0px;
  margin-top: 10px;
}

.tile-body h2{
  margin: 0px;
}

.editCertificate img{
  margin: 0 auto;
  padding: 9px;
  border: 1px dashed #6C5296;
  background: #fff;
}

.editForm .form-group{
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding: 8px 0px;
}

.editForm .form-group label.control-label{
  text-align: left;
}

.editForm .form-group a.chosen-single{
  background-color: #fff !important;
}

.editForm .form-group a.chosen-single div b{
background: url(../js/vendor/chosen/images/chosen-sprite.png) no-repeat 0 2px !important;
}

.editForm .form-footer{
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 10px;
}

.single-slider-img{
  margin: 5px;
  text-align: center;
}

.single-slider-img img{
  width: 150px;
  padding: 5px;
  background-color: #fff;
  border: 1px dashed #6C5296;
}

.single-slider-img input[type="checkbox"]{
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
}

/*.table-custom {}*/

.table-custom thead tr{
  background-color: #ffffff;
  border-left: 1px solid #000 !important;
}


.table-custom thead tr th {
  color:#000 !important; 
  text-align: center;
  font-size: 13px !important;
  border-right: 1px solid #a5a5a5 !important;
}
.table-custom{
  /*width:800% !important;*/
}
.table-custom tbody tr.odd{
  background-color: #77B51B
}

.table-custom tbody tr.odd td{
  padding: 5px !important;
  width: 700px !important;
  text-align: center;
  vertical-align: middle;
   border-right:1px solid #a5a5a5 !important;
}

.table-custom tbody tr.even td{
  padding: 5px !important;
  width: 700px !important;
  text-align: center;
  vertical-align: middle;
  border-right:1px solid #a5a5a5 !important;
}


.table-custom tbody tr.even{
  background-color: #ECF04C; 
  color:#000;
  text-align: center;
}

/*.table-custom tbody tr td {
  text-align: center; 
  font-size: 13px !important; 
  vertical-align: middle;
}*/
.table-custom tbody tr td a {
  color:#fff !important; 
  text-decoration: none; 
}



.bara{
  position: absolute;
  right: 28px;
  bottom: 36px;
}

.editForm a.chosen-single{
  color: #666 !important;
}

.editForm input{
  color: #666 !important;
}


#advancedDataTable thead tr th span{
  width: 200px !important;
  display:block;
  text-align: center;
}

